<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index_css.css" type="text/css">
    <link rel="stylesheet" href="css/title_css.css" type="text/css">
    <link rel="stylesheet" href="css/form_css.css" type="text/css">
    <link rel="stylesheet" href="css/table_css.css" type="text/css">
    <title>Bank Info</title>
</head>


<body style="background-image: url('/imgs/white-background.webp'); background-attachment: fixed;">
    <center>
    <!--Nav bar-->
    <%- include('../partials/header_log.ejs') %>

        <% if(data.results.length> 0) { %>
            <div class="tbl s_tbl">
                <table>
                    <th>
                        Account Number
                    </th>
                    <th>
                        ISFC Code
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        User ID
                    </th>
                    <th>
                        Type of User
                    </th>
                    
                    <% data.results.forEach(element=> {%>
                        <tr>
                            <td>
                                <%= element.account_number %>
                            </td>
                            <td>
                                <%= element.isfc_code %>
                            </td>
                            <td>
                                <%= element.name %>
                            </td>
                            <td>
                                <%= element.email %>
                            </td>
                            <td>
                                <%= element.user_id %>
                            </td>
                            <td>
                                <%= element.type_of_user %>
                            </td>
                            
                        </tr>
                        <% }); %>
                </table>
                <div class="btn">
                    <% if(data.prev) {%>
                        <div class="prev bt">
                            <% var str = `bank_info?page=${data.prev.page}&limit=${data.prev.limit}` %>
                            <a href= <%=str%> > << PREV</a>
                        </div>
                    <% } %>
                    <% if(data.next) { %>
                        <div class="next bt">
                            <% var str = `bank_info?page=${data.next.page}&limit=${data.next.limit}` %>
                            <a href= <%=str%> >NEXT >> </a>
                        </div>
                    <% } %>
                </div>
            </div>
            <% } %>

        </center>
</body>
<%- include('../partials/footer.ejs') %>
</html>